.production {
    margin-top: 80px;

    @media (min-width: @tablet-width) {
        margin-top: 90px;
    }

    @media (min-width: @tablet-large) {
        margin-top: 150px;
    }
}

.production .container {
    max-width: 1400px;
}

.main-slider__item {
    position: relative;

    margin-right: 30px;

    @media (max-width: @mobile-large) {
        margin-right: 0;
    }

    &::before,
    &::after {
        position: absolute;
        left: 20px;

        font-size: 18px;
        line-height: 32px;
        text-transform: uppercase;

        transition: 0.3s linear;

        @media (min-width: @mobile-large) {
            left: 40px;
            font-size: 24px;
        }
    }

    &::before {
        content: attr(data-reward);

        top: 20px;
        z-index: 5;

        @media (min-width: @mobile-large) {
            top: 40px;
        }
    }

    &::after {
        content: attr(data-date);

        bottom: 20px;

        writing-mode: vertical-rl;
        transform: rotate(180deg);

        @media (min-width: @mobile-large) {
            bottom: 40px;
        }
    }

    &:hover {
        &::before,
        &::after {
            opacity: 0;
            transition: 0.3s linear;
        }
    }

    &:hover .main-slider__img {
        opacity: 1;
        transform: scale(1.05);
        transition: 0.3s linear;
    }
}

.main-slider__img {
    max-width: 100%;

    opacity: 0.35;
    transition: 0.3s linear;
}